amqp==5.1.0
anaconda==0.0.1.1
anyjson==0.3.3
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.5.2
async-generator==1.10
attrs==20.3.0
autopep8==1.6.0
autopy==4.0.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==3.2.1
blink-cameras==0.3.13
blink-celery==0.1.1
blinker==1.4
bootstrap4==0.1.0
Brotli==1.0.9
celery==5.2.3
celery-progress==0.1.2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==36.0.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==4.1.3
django-binary-database-files==1.0.17
django-bootstrap-form==3.4
django-bootstrap4==3.0.1
django-bootstrap5==2.0.0
django-celery==3.3.1
django-celery-beat==2.1.0
django-celery-results==2.2.0
django-crispy-bootstrap==0.1.1.1
django-crispy-forms==1.11.2
django-extensions==3.0.2
django-filter==21.1
django-heroku==0.3.1
django-rated-reviews==1.0.1
django-redis==5.2.0
django-rest-framework==0.1.0
django-sass-processor==1.1
django-timezone-field==4.2.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
dnspython==2.2.0
docopt==0.6.2
docutils==0.19
entrypoints==0.3
eventlet==0.33.0
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
graphviz==0.14
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
importlib-metadata==4.8.2
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.2
kaitaistruct==0.9
kanren==0.2.3
keras==2.7.0
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.3.1
kombu==5.2.4
ldap3==2.9.1
logic==0.2.3
LogPy==1.0.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.3.3
mistune==0.8.4
mitmproxy==8.0.0
msgpack==1.0.3
multipledispatch==0.6.0
mysql==0.0.3
mysql-client==0.0.1
mysql-connector-python==8.0.20
mysqlclient @ file:///C:/Users/BIDA19-040/mysqlclient-1.4.6-cp38-cp38-win32.whl
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
notebook==6.1.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
passlib==1.7.4
pbr==5.8.1
pep8==1.7.1
perl==1.0.0
pickles==0.1.1
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2022.11.30
pipreqs==0.4.11
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.19.4
psycopg2==2.9.2
publicsuffix2==2.20191221
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.20
pydivert==2.1.0
pydot==1.4.1
Pygments==2.7.2
pymongo==3.12.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pyrsistent==0.17.3
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.6
python-magic==0.4.25
python-rtkit==0.7.2
pytz==2021.3
pywin32==228
pywinpty==0.5.7
PyYAML==6.0
pyzmq==19.0.2
redis==3.5.3
requests==2.24.0
Rest_Framework_Auth_Toolkit==0.11
rt==2.2.1
rt-client==0.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
slack==0.0.2
slack-client==0.3.0
slack-sdk==3.15.1
sortedcontainers==2.4.0
soupsieve==2.2.1
sqlparse==0.3.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.1
traitlets==5.0.5
tzdata==2022.1
unification==0.2.2
Unipath==1.1
urllib3==1.25.11
urwid==2.1.2
uuid==1.30
vine==5.0.0
virtualenv==20.4.3
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
whitenoise==5.3.0
widgetsnbextension==3.5.2
wsproto==1.1.0
yarg==0.1.9
zipp==3.6.0
zstandard==0.17.0
